**/__pycache__
main/Backend/extensions/__pycache__/
shogan/__pycache__
main/migrations/__pycache__
shogan/__pycache__/wsgi.cpython-39.pyc
shogan/__pycache__/urls.cpython-39.pyc
shogan/__pycache__/settings.cpython-39.pyc
shogan/__pycache__/__init__.cpython-39.pyc
main/migrations/__pycache__/0007_auto_20211127_1744.cpython-39.pyc
main/migrations/__pycache__/0006_auto_20211018_1415.cpython-39.pyc
main/migrations/__pycache__/0005_rename_extensions_extension.cpython-39.pyc
main/migrations/__pycache__/0004_extensions.cpython-39.pyc
main/migrations/__pycache__/0003_manga_author.cpython-39.pyc
main/migrations/__pycache__/0002_auto_20211017_0109.cpython-39.pyc
main/migrations/__pycache__/0001_initial.cpython-39.pyc
main/migrations/__pycache__/__init__.cpython-39.pyc
main/Backend/extensions/Manganato/__pycache__/source.cpython-39.pyc
main/Backend/extensions/__pycache__/search_manga.cpython-39.pyc
main/Backend/extensions/__pycache__/extension_list.cpython-39.pyc
main/Backend/extensions/__pycache__/download_extensions.cpython-39.pyc
