{% extends 'main/base.html' %}
{% load static %}

{% block extra_head_content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/comic.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %} 
<!-- Put the manga name on the right of the cover as well -->
<div class="manga-info">
    <img class="manga-cover" src="{{comic.cover}}" alt="" width="176" height="264.26">
    <h1  class="manga-name">{{comic.name}}</h1>
    <h3>By {{comic.author}}</h3>
    <h4 class="manga-description">
        {{comic.description}}
    </h4>
    <!-- <h1>Chapters</h1> -->
</div>
<br>

<div class="manga-chapters">
    <div class="top-row">
        <h2>Chapters</h2>
        <div class="tooltip">
            <span class="tooltipText">Filter chapters</span>
            <button>
                <img src="{% static 'images/filter.svg' %}" alt="">
            </button>
        </div>
    </div>
        
    <div class="toolContainer">
        <input type="text" id="search_box" name="search_box" class="search_box" onkeyup="SearchChapters()" placeholder="Search For Chapters...">
    </div>
    <table id="chapters">
        {% for chapter in chapters %}
        <tr>
            <td>
                {% comment %} <div class="chapterLink"> {% endcomment %}
                    <p>{{ chapter.name }}</p>
                {% comment %} </div> {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
</div>
<script>
    function SearchChapters(){
        console.log("hello")
        var input = document.getElementById("search_box")
        var filter = input.value.toUpperCase();
        var table = document.getElementById("chapters");
        var tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock  %}
