{% extends 'main/base.html' %}
{% load static %}

{% block extra_head_content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/comic.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %} 
<!-- Put the manga name on the right of the cover as well -->
<div class="manga-info">
    <img class="manga-cover" src="{% static comic.cover %}" alt="" width="176" height="264.26">
    <h1  class="manga-name">{{comic}}</h1>
    <h3>By {{comic.author}}</h3>
    <h4 class="manga-description">
        {{comic.description}}
    </h4>
    <!-- <h1>Chapters</h1> -->
</div>
<br>
<div class="manga-chapters">
    <h2>Chapters</h2>
    <table>
        {% for chapter in comic.chapters_to_arr %}
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <a href="/read/1/9/{{ chapter.index}}">
                        <div class="chapterLink">
                            <p>{{ chapter.name }}</p>
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
                
    

</div>
   
    
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/library.css' %}"> {% endcomment %}

{% endblock  %}
