{% extends 'main/base.html' %}
{% load static %}

{% block extra_head_content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/comic.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %} 
<!-- Put the manga name on the right of the cover as well -->
<div class="manga-info">
    <img class="manga-cover" src="{% static comic.cover %}" alt="" width="176" height="264.26">
    <h1  class="manga-name">{{comic}}</h1>
    <h3>By {{comic.author}}</h3>
    <h4 class="manga-description">
        {{comic.description}}
    </h4>
    <!-- <h1>Chapters</h1> -->
</div>
<br>
<div class="manga-chapters">
    <div class="top-row">
        <h2>Chapters</h2>
        <div class="tooltip">
            <span class="tooltipText">Filter chapters</span>
            <button class="tool">
                <img src="{% static 'images/filter.svg' %}" alt="">
            </button class="tool">
        </div>
    </div>
        
    <div class="toolContainer">
        <input type="text" id="search_box" name="search_box" class="search_box" onkeyup="SearchChapters()" placeholder="Search For Chapters...">
        <div class="chapterEditor hidden" id="chapterEditor">
            <div class="tooltip">
                <span class="tooltipText">Cancel</span>
                <button class="tool" onclick="CancelSelection()">
                    <img src="{% static 'images/unselect_all.svg' %}" alt="">
                </button class="tool">
            </div>
            <div class="tooltip">
                <span class="tooltipText">Select All</span>
                <button class="tool" onclick="selectAll()">
                    <img src="{% static 'images/select_all.svg' %}" alt="">
                </button class="tool">
            </div>
            <div class="tooltip">
                <span class="tooltipText">Select Unselected</span>
                <button class="tool" onclick="selectUnselected()">
                    <img src="{% static 'images/select_unselected.svg' %}" alt="">
                </button class="tool">
            </div>
            <div class="tooltip">
                <span class="tooltipText">Download Selected Chapters</span>
                <button class="tool">
                    <img src="{% static 'images/download.svg' %}" alt="">
                </button class="tool">
            </div>
            <div class="tooltip">
                <span class="tooltipText">Mark selected chapters as read</span>
                <button class="tool" onclick="markRead()">
                    <img src="{% static 'images/read.svg' %}" alt="">
                </button class="tool">
            </div>
            <div class="tooltip">
                <span class="tooltipText">Mark selected chapters as unread</span>
                <button class="tool" onclick="markUnread()">
                    <img src="{% static 'images/unread.svg' %}" alt="">
                </button class="tool">
            </div>
        </div>
    </div>
    <table id="chapters">
        {% for chapter in chapters %}
        <tr>
            <td>
                <input type="checkbox" value="{{chapter.id}}" name="checkbox" onchange="checkBoxChange()">
            </td>
            <td>
                <a href="/read/1/{{ comic.id }}/{{ chapter.id }}">
                    <div class="chapterLink">
                        {% if chapter.read == True %}
                        <p class="read" value="{{chapter.id}}">{{ chapter }}</p>
                        {% else %}
                        <p>{{ chapter }}</p>
                        {% endif %}
                    </div>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
    
                
    

</div>
<script>
    var editing = false;
    chapterEditor = document.getElementById('chapterEditor');
    checkboxes = Array.from(document.getElementsByName('checkbox'));
    
    function markUnread(){
        checkboxes.forEach(checkbox =>{
            if(checkbox.checked == true){
                checkbox.parentElement.parentElement.lastElementChild.firstElementChild.firstElementChild.firstElementChild.className = "unread";
                var xhr = new XMLHttpRequest();
                xhr.open("POST", document.URL, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                xhr.send(JSON.stringify({
                    "value": "unread",
                    "chapterid": checkbox.value
            }));
            }
        });
        editing = false;
        chapterEditor.className = "chapterEditor hidden";
        unselectAll();
    }
    function CancelSelection(){
        checkboxes.forEach(checkbox =>{
            checkbox.checked = false;
        });
        editing = false;
        chapterEditor.className = "chapterEditor hidden"
    }

    function selectUnselected(){
        checkboxes.forEach(checkbox =>{
            if(checkbox.parentElement.parentElement.style.display != "none"){
                if(checkbox.checked == true){
                    checkbox.checked = false;
                } else{
                    checkbox.checked = true;
                }
            }
        })
    }

    function markRead(){
        checkboxes.forEach(checkbox =>{
            if(checkbox.checked == true){
                checkbox.parentElement.parentElement.lastElementChild.firstElementChild.firstElementChild.firstElementChild.className = "read";
                var xhr = new XMLHttpRequest();
                xhr.open("POST", document.URL, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                xhr.send(JSON.stringify({
                    "value": "read",
                    "chapterid": checkbox.value
            }));
            }
        });
        editing = false;
        chapterEditor.className = "chapterEditor hidden";
        unselectAll();
    }

    function unselectAll(){
        checkboxes.forEach(checkbox =>{
            if(checkbox.parentElement.parentElement.style.display != "none"){
                checkbox.checked = false;
            }
        });
    }

    function selectAll(){
        checkboxes.forEach(checkbox =>{
            if(checkbox.parentElement.parentElement.style.display != "none"){
                checkbox.checked = true;
            }
        });
    }
    function checkBoxChange(){
        if(editing == false){
            editing = true;
            chapterEditor.className = "chapterEditor";
        }
    }
    function SearchChapters(){
        if(editing == false){
            var input = document.getElementById("search_box")
            var filter = input.value.toUpperCase();
            var table = document.getElementById("chapters");
            var tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
            }
    }
</script>
   
    
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/library.css' %}"> {% endcomment %}

{% endblock  %}
