{% extends 'main/base.html' %}
{% load static %}


{% block extra_head_content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/downloads.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %}
<h2>Downloads</h2>
<table class="download_list">
    {% if downloads|length == 0%}
    <tr>
        <td>
            <p>Nothing to see here !</p>
        </td>
    </tr>
    {% else %}
    {% for download in downloads %}
    <tr id="">
        <td>
            <p>{{download.name}}</p>
        </td>
        <td>
            <p>{{download.downloaded}}/{{download.totalPages}}</p>
        </td>
        <td>
            <div class="tooltip">
                <span class="tooltipText">Cancel Download</span>
                <form action="/downloads/" method="post">
                    {% csrf_token %}
                    <button type="submit" name="cancelDownload" value="{{download.id}}" class="tool">
                        <img src="{% static 'images/close-button.svg' %}" width="20" height="20" alt="">
                    </button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
<script>
    {% if downloads|length == 0 %}
    var downloading = false;
    {% else %}
    var downloading = true
    {% endif %}
    {% comment %} if(downloading == true){
        setTimeout(window.location.reload(), 1600);
    } {% endcomment %}

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        console.log(JSON.parse(this.responseText));
        }
    };
    xhttp.open("GET", "progress/", true);
    xhttp.send();
</script>
{% endblock%}
