<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>{{ novel }}</h2>
    <br>
    <h3>254</h3>
    <h3>HELLO DARKNESS</h3>
    <h4>Darkness. Complete, utter darkness.

I was floating, hovering in a field of reflectionless black.

There was nothing else—no sound, taste, smell, touch…

It was peaceful at first. I felt like I was both nothing and everything at the same time. I was a tiny speck in a vast universe, yet nothing else existed aside from me.

As time passed, though, I recalled more of what I was. I was a human… I had hands, feet, a body…</h4>
  </body>
</html>
