{% load static %}
<html>
<head>
    {% block extra_head_content %}
    <!-- Currently using base.css replace with read.css later on -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/read.css' %}">
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/samurai.svg' %}" />
    <title>{{chapter.name}}</title>
</head>
<body onload="trackImages()">
    <div class="hoverToDisplay"></div>
    <header>
        <img style="display: none;" src="{% static 'images/loading.svg' %}" alt="">
        <button class="chapterList">
            <a href="/comic/1/{{comic.id}}">
                <img src="{% static 'images/menu.png' %}" width="23" height="23">
            </a>
        </button>
        <h3 style="margin-right:auto;">{{chapter.name}}</h3>
        {% if chapter.index > 1%}
        <button class="previousChapter">
            <a href="/read/1/{{ comic.id}}/{{ chapter.index|add:"-1"}}">
                <img src="{% static 'images/back.png' %}" width="32" height="30" alt="">
            </a>
        </button>
        {% endif %}

        {% if chapter.index < comic.NumChapters%}
        <button class="nextChapter">
            <a href="/read/1/{{ comic.id }}/{{ chapter.index|add:"1"}}">
                <img src="{% static 'images/next.png' %}" width="32" height="30" alt="">
            </a>
        </button>
        {% endif %}

        <button class="setting-button" onclick="showSettings()">
            <img src="{% static 'images/setting.svg' %}" alt="">
        </button>
    </header>
    <main>
        <div class="settingsContainer">
            <div class="settings" id="settings">
                <button class="close-button" onclick="showSettings()">
                    <img src="{% static 'images/close-button.svg' %}" alt="">
                </button>
                <div class="reading-style">
                    <h3>Reading Style</h3>
                    <div class="reading-style-buttons" id="reading-style">
                        <button class="active left-to-right" id="left-to-right" onclick="LeftToRight()">
                            Left-to-right
                        </button>
                        <button class="right-to-left" id="right-to-left" onclick="RightToLeft()">
                            Right-to-left
                        </button>
                        <button class="vertical" id="vertical" onclick="vertical()">
                            Vertical
                        </button>
                        <button class="continuous-vertical" id="continuous-vertical" onclick="continuousVertical()">
                            Continuous Vertical
                        </button>
                    </div>
                </div>
                <div class="page-layout">
                    <h3>Page Layout</h3>
                    <div class="page-layout-buttons" >
                        <button class="single-page">
                            Single-Page
                        </button>
                        <button class="two-page-even">
                            Two-Page-Even
                        </button>
                        <button class="two-page-odd" onclick="twoPageOdd()">
                            Two-Page-Odd
                        </button>
                    </div>
                </div>
            </div>
        </div>
    

        <!-- NO need to make this a base template since this will not include the side bar -->
        <div class="image-container" id="image-container" data-orientation="horizontal">
            {% for image in images %}  
            {% if forloop.counter0 == chapter.lastRead %}
            <div class="image">
                <img src="{{image}}">
            </div>
            
            {% else %}
            <div class="image hide">
                <img src="{{image}}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
    </main>
    <script>
        var images = Array.from(document.getElementsByClassName("image"));
        var currentImage = {{chapter.lastRead}};
        var length = images.length;
        var orientation = "left-to-right";
        var layout = null;

        if( "{{ comic.orientation }}" == "right-to-left"){
            RightToLeft();
        }
        if( "{{ comic.orientation }}" == "vertical" ){
            document.getElementById(orientation).className = orientation;
            document.getElementById("vertical").className = "active vertical";
            orientation = "vertical";
            images.forEach(image => {
                image.className = "image"
            });
            var container = document.getElementById("image-container");
            container.setAttribute("data-orientation", "vertical");
        }
        if( "{{ comic.orientation }}" == "continuous-vertical" ){
            document.getElementById(orientation).className = orientation;
            document.getElementById("continuous-vertical").className = "active continuous-vertical";
            orientation = "continuous-vertical";
            images.forEach(image => {
                image.className = "image"
            });
            var container = document.getElementById("image-container");
            container.setAttribute("data-orientation", "continuous-vertical");

        }

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry =>{
                if((orientation == "continuous-vertical") || (orientation == "vertical")){
                    if( (entry.isIntersecting) && (images.indexOf(entry.target) > currentImage) ){
                        currentImage = images.indexOf(entry.target);
                        console.log(currentImage)
                        updateLastRead();
                        observer.unobserve(entry.target);
                    }
                    
                }
            })
        },
        {
            rootMargin: "-200px",
        });

        function trackImages(){
            console.log(currentImage);
            if( (orientation == "vertical") || (orientation == "continuous-vertical") ){
                images[currentImage].scrollIntoView(false);
            }
            images.forEach(image =>{
                    observer.observe(image);
                });
            }
        

        function updateLastRead(){
            lastRead = currentImage
            if(orientation == "right-to-left"){
                lastRead = length - currentImage - 1
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", document.URL, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            if(lastRead == length - 1){
                xhr.send(JSON.stringify({
                    "value": "Completed",
                    "lastRead": lastRead
                }));
            } else{
                xhr.send(JSON.stringify({
                    "value": "lastRead",
                    "lastRead": lastRead
                }));
            }
        }

        function updateOrientation(){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", document.URL, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.send(JSON.stringify({
                "value": "orientation",
                "orientation": orientation
            }));
        }

        function showSettings() {
            var settings = document.getElementById("settings");
            if (settings.className == "settings"){
                settings.className = "settings show";
            } else if (settings.className == "settings show"){
                settings.className = "settings";
            }
        }

        function RightToLeft() {
            if (orientation != "right-to-left"){
                if (orientation == "left-to-right"){
                    images = images.reverse();
                    currentImage = length - currentImage - 1;
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("right-to-left").className = "active right-to-left";
                    orientation = "right-to-left";
                } else {
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("right-to-left").className = "active right-to-left";
                    orientation = "right-to-left";
                    images.forEach(image => {
                        image.className = "image hide"
                    });
                    images = images.reverse();
                    currentImage = length - currentImage - 1;
                    images[currentImage].className = "image"
                    var container = document.getElementById("image-container");
                    container.setAttribute("data-orientation", "horizontal");
                }
            }
            if(orientation != "{{ comic.orientation }}"){
                updateOrientation()
            }
        }

        function vertical(){
            if (orientation != "vertical"){
                if (orientation == "continuous-vertical"){
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("vertical").className = "active vertical";
                    orientation = "vertical";
                    var container = document.getElementById("image-container");
                    container.setAttribute("data-orientation", "vertical");
                
                } else {
                    if (orientation == "right-to-left"){
                        images = images.reverse();
                        currentImage = length - currentImage - 1;
                    } 
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("vertical").className = "active vertical";
                    orientation = "vertical";
                    images.forEach(image => {
                        image.className = "image"
                    });
                    var container = document.getElementById("image-container");
                    container.setAttribute("data-orientation", "vertical");
                }
                images[currentImage].scrollIntoView(false);
                if(orientation != "{{ comic.orientation }}"){
                    updateOrientation()
                }
            }
            
        }

        function continuousVertical(){
            if (orientation != "continuous-vertical"){
                if (orientation == "vertical"){
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("continuous-vertical").className = "active continuous-vertical";
                    orientation = "continuous-vertical";
                    var container = document.getElementById("image-container");
                    container.setAttribute("data-orientation", "continuous-vertical");
                } else {
                    if (orientation == "right-to-left"){
                        images = images.reverse();
                        currentImage = length - currentImage - 1;

                    }
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("continuous-vertical").className = "active continuous-vertical";
                    orientation = "continuous-vertical";
                    images.forEach(image => {
                        image.className = "image"
                    });
                    var container = document.getElementById("image-container");
                    container.setAttribute("data-orientation", "continuous-vertical");
                }
                images[currentImage].scrollIntoView(false);
                if(orientation != "{{ comic.orientation }}"){
                    updateOrientation()
                } 
            }
            
        }

        function twoPageOdd() {
            if(orientation == "left-to-right"){
                var container = document.getElementById("image-container");
                container.setAttribute("data-orientation", "double-page");
                layout = "double-page-odd"
            }


        }

        function LeftToRight() {
            if (orientation != "left-to-right"){
                if (orientation != "vertical" && orientation != "continuous-vertical"){
                    images = images.reverse();
                    currentImage = length - currentImage - 1;
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("left-to-right").className = "active left-to-right";
                    orientation = "left-to-right";
                } else {
                    document.getElementById(orientation).className = orientation;
                    document.getElementById("left-to-right").className = "active left-to-right";
                    orientation = "left-to-right";
                    images.forEach(image => {
                        image.className = "image hide"
                    });
                    images[currentImage].className = "image"
                    var container = document.getElementById("image-container");
                    container.setAttribute("data-orientation", "horizontal");
                }
            }
            if(orientation != "{{ comic.orientation }}"){
                updateOrientation()
            }
        }

        document.body.addEventListener('keydown', function(event) {
            const key = event.key;
            switch (key) {
                case "ArrowLeft":
                    if (orientation != "vertical"){
                        console.log('Left');
                        if (currentImage != 0){
                            if(layout == "double-page-odd"){
                                console.log("test")
                                images[currentImage].className = "image hide";
                                if(currentImage > 0){
                                    images[currentImage - 1].className = "image hide"
                                }
                                currentImage -= 2;
                                if(images[currentImage].firstElementChild.naturalWidth <= 1000){
                                    if(currentImage == 0){
                                        images[currentImage].className = "image";
                                    } else{
                                        images[currentImage].className = "image right";
                                        images[currentImage -1].className = "image left";
                                        // currentImage -= 1;
                                    }
                                } else{
                                    images[currentImage].className = "image";
                                }
                            } else{
                                images[currentImage].className = "image hide";
                                currentImage -= 1;
                                images[currentImage].className = "image";
                                updateLastRead();
                            }
                            
                        }
                    }
                    break;
                case "ArrowRight":
                    if (orientation != "vertical"){
                        console.log('Right');
                        if (currentImage != length-1){
                            if(layout == "double-page-odd"){
                                images[currentImage].className = "image hide";
                                if(currentImage > 0){
                                    images[currentImage - 1].className = "image hide"
                                }
                                currentImage += 1;
                                if(images[currentImage].firstElementChild.naturalWidth <= 1000){
                                    if(currentImage == length -1){
                                        images[currentImage].className = "image";
                                    } else{
                                    images[currentImage].className = "image left";
                                    currentImage += 1;
                                    images[currentImage].className = "image right"
                                    }
                                } else{
                                    images[currentImage].className = "image";
                                }
                            } else{
                                images[currentImage].className = "image hide";
                                currentImage += 1;
                                images[currentImage].className = "image";
                                updateLastRead();
                            }
                            

                        }
                    }
                    break;
            }
        });

    </script>
</body>
</html>