

/* .center{
    margin: auto;
    width: 60%;
    /* background-color: #141418; */
    /* border: 5px solid #FFFF00; */
    /* padding: 10px;
} */

.manga-cover{
    float: left;
    border-radius: 10px;
    padding: 20px;
}

.manga-name{
    /* padding:20px;
    padding-right: 200px; */

    /* padding-bottom: 50px; */
    padding-top: 20px;
}

.manga-info{
    overflow: hidden;
    margin: auto;
    padding: 20px;
    max-width: 75%;
    border-radius: 10px;
    background-color:#141418;
}

.manga-chapters{
    overflow: hidden;
    margin: auto;
    padding: 20px;
    max-width: 75%;
    border-radius: 10px;
    background-color:#141418;
}

.chapterLink{
    color: floralwhite;
}

.manga-description{
    padding-top: 220px;
}

.search_box{
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #141418;
    color: white;
    outline: none;
    border: 1px solid #748899;
    border-radius: 10px;
}

.read{
    color: #525252;
}