

/* .center{
    margin: auto;
    width: 60%;
    /* background-color: #141418; */
    /* border: 5px solid #FFFF00; */
    /* padding: 10px;
} */

.manga-cover{
    float: left;
    border-radius: 10px;
    padding: 20px;
}

.manga-name{
    /* padding:20px;
    padding-right: 200px; */

    /* padding-bottom: 50px; */
    padding-top: 20px;
}

.manga-info{
    overflow: hidden;
    margin: auto;
    padding: 20px;
    max-width: 75%;
    border-radius: 10px;
    background-color:#141418;
}

.manga-chapters{
    /* overflow: hidden; */
    margin: auto;
    padding: 20px;
    max-width: 75%;
    border-radius: 10px;
    background-color:#141418;
}

.chapterLink{
    color: floralwhite;
}

.manga-description{
    padding-top: 220px;
}

.search_box{
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #141418;
    color: white;
    outline: none;
    border: 1px solid #748899;
    border-radius: 10px;
}

.read{
    color: #525252;
}

button{
    background-color: #363738;
    border: 4px solid #363738;
    padding: 1px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
}

button:hover{
    transition: 0.2s ease-in;
    border: 4px solid #262729;
    background-color: #262729;
}

.chapterEditor{
    margin-left: auto;
}

.chapterEditor.hidden{
    visibility: hidden;
}
.toolContainer{
    display: flex;
}

.top-row{
    /* display:inline; */
    white-space: nowrap;

}

.top-row h2{
    display: inline-block;
}

.top-row .tooltip{
    display: inline-block;
}
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(73, 71, 71);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 10px;
}
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}