
.extension_list{
    overflow: hidden;
    margin: auto;
    padding: 20px;
    max-width: 75%;
    border-radius: 10px;
    background-color:#141418;
}

.extension{
    display: flex;
    padding-bottom: 20px;
    /* padding-right: 50rem; */
    align-items: flex-start;
}

.extension img{
    padding-right: 20px;
}

.row{
    display: flex;
    align-items: flex-start;
}

.blue-button{
    margin-left: auto;
    display: inline-flex;
    background-color: #2d89e3;
    border: 3px solid #2d89e3;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    color: black;
}

.blue-button:hover{
    background-color: #519fd3;
    border: 3px solid #519fd3;
}

.installed{
    margin-left: auto;
}

.delete-button{
    margin-left: auto;
    display: inline-flex;
    background-color: #e32d2d;
    border: 3px solid #e32d2d;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    color: black;
}

.delete-button:hover{
    background-color: #db0e0e;
    border: 3px solid #db0e0e;
}

.deleteExtension{
    background-color:#23232b;
    border-radius: 10px;
    color: aliceblue;
    border: 4px solid #141418;
  }