img.book-cover{
  border-radius: 6%;
}

.book-name{
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 140px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.books{
  margin: 0 auto;
  display: grid;
  max-width: 10000px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
}

.search_box{
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #141418;
  color: white;
  outline: none;
  border: 1px solid #748899;
  border-radius: 10px;
}

.leftToRead{
  border-radius: 6px;
  background-color: #2d89e3;
  color: #141418;
  float: left;
  position: absolute;
  z-index: 1000;
  font-weight: bold;
  padding: 3px;
  padding-right: 5px;
  padding-left: 8px;
}
.container{
  position: relative;
}