img.book-cover{
  border-radius: 6%;
}

.book-name{
  font-weight: bold;
}

.books{
  margin: 0 auto;
  display: grid;
  max-width: 10000px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
}
