:root {
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary:#152232;
    --bg-secondary:#141418;

}

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('OpenSans-Bold.ttf') format('truetype');
}

/* .back img{
    filter: invert(60%) sepia(80%) saturate(913%) hue-rotate(166deg) brightness(99%) contrast(2%);
} */

body {

    color:#748899;
    /* background-color: #0b1622; old one */
    background-color: #101013;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 0rem;
    
}

header{
    display: flex;
    padding: 2px 1%;
    background-color: #222228;
    align-items:center ;
    color: floralwhite;
    position: fixed;
    width: 100%;
    top: -69px;
    will-change: top;
    transition: top 750ms;
    /* visibility: hidden; */
}

.hoverToDisplay{
    width: 100%;
    display:flex;
    height: 70px;
    /* background-color: fuchsia; */
    position: fixed;
}

.hoverToDisplay:hover + header,
.hoverToDisplay:focus{
    /* transition: 1s; */
    top: 0px;
}

header:hover{
    top:0px;
    /* transition: 1s; */
    /* visibility: visible; */
}

.image-container{
}

.image-container img{
    height: 100%;
    vertical-align: middle;
}

.image.left{
    margin-left: auto;
    margin-right: 0px;
}

.image.right{
    margin-right:auto;
    margin-left:0px;
}
.image.hide{
    display: none;
}

.image{
    display:flex;
    min-height: 6rem;
    min-width: 6rem;
    background-image: url("../images/loading.svg");
    background-repeat:no-repeat;
    background-position: 50% 50%;
}

.image img{
    
}

.image-container[data-orientation="vertical"] img{
    margin-bottom: 5px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-container[data-orientation="continuous-vertical"] img{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-container[data-orientation="horizontal"]{
    /* width: auto; */
    display: flex;
    justify-content: center;
    height: 98%;
    max-width: 98%;
}

.image-container[data-orientation="double-page"]{
    display: flex;
    justify-content: center;
    height: 98%;
    max-width: 98%;
}

.image-container[data-orientation="horizontal"] img{
    height: 100%;
    max-width: 98%;
    vertical-align: middle;
}

.setting-button{
    background-color: #363738;
    margin-left: auto;
    margin-right: 30px;
    border: 5px solid #363738;
    padding: 1px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
}

.setting-button:hover{
    transition: 0.2s ease-in;
    border: 5px solid #262729;
    background-color: #262729;
}

.settings{
    width: 243px;
    height: 275px;
    margin-left: calc(100vw);

    /* margin-right: -300px; */
    background-color: #222228;
    color: floralwhite;
    /* margin-top: 80px; */
    /* margin-right: -275px; */
    /* margin-left: auto; */
    border-radius: 10px;
    transition: 750ms;
    padding-left: 2px;
    border: 14px solid #222228;
    transition: margin-left 750ms;
    /* visibility: hidden; */
    /* position: fixed; */
    /* transform: translateX(100%); */


}

.settings.show {
    margin-left: calc(100vw - 290px);
    
    /* transform: translateX(0%); */
    /* visibility: visible; */
}
.settingsContainer{
    margin-top: 80px;
    width: 100%;
    float: right;
    margin-left: -80px;
    overflow: hidden;
    position: fixed;
    /* transform: translateX(560%); */
}


.settings h3{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.settings hr{
    color: #262729;
    /* border-top: 3px solid #262729; */
}

.settings img{
    height: 20px;
    width: 20px;
    float: right;
}

.reading-style button{
    cursor: pointer;
    box-shadow: none;
    background-color: #363738;
    /* margin-left: auto;
    margin-right: 30px; */
    border: 5px solid #363738;
    padding: 1px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: none;
    color: #ececec;
}

.reading-style button:hover{
    transition: 0.2s ease-in;
    border: 5px solid #262729;
    background-color: #262729;
}

.reading-style-buttons{
    padding-top: 10px;
}

.page-layout button{
    cursor: pointer;
    box-shadow: none;
    background-color: #363738;
    /* margin-left: auto;
    margin-right: 30px; */
    border: 5px solid #363738;
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: none;
    color: #ececec;
}

.page-layout button:hover{
    transition: 0.2s ease-in;
    border: 5px solid #262729;
    background-color: #262729;
}

.page-layout-buttons{
    padding-top: 10px;
}

.page-layout{
    margin-top: 5px;
}

#reading-style .active{
    border: 5px solid #2d89e3;
    background-color: #2d89e3;
    color: black;
}

.close-button{
    background-color: #363738;
    border: 3px solid #363738;
    padding: 1px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    float: right;
}

.close-button:hover{
    transition: 0.2s ease-in;
    border: 3px solid #262729;
    background-color: #262729;
}
/* #2f89e3  use this value for the colour selected option turns to*/
