.settings-list{
    overflow: hidden;
    margin: auto;
    padding: 20px;
    max-width: 75%;
    border-radius: 10px;
    background-color:#23232b;
    margin-bottom: 10px;
}

.submit-button{
    margin-top: 10px;
    background-color: #2d89e3;
    border: 5px solid #2d89e3;
    padding: 1px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    color: black;
    margin-bottom: 10px;
}

.submit-button:hover{
    background-color: #519fd3;
    border: 5px solid #519fd3;
}

.createCategory{
    background-color:#23232b;
    color:#748899;
}

.categoryName{
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #141418;
    color: white;
    outline: none;
    border: 1px solid #748899;
    border-radius: 10px;
}

.cancel-button{
    margin-top: 10px;
    background-color: #e32d2d;
    border: 5px solid #e32d2d;
    padding: 1px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    color: black;
    margin-bottom: 10px;
}

.cancel-button:hover{
    background-color: #db0e0e;
    border: 5px solid #db0e0e;
}

.delete-category button{
    margin-left: 80vh;
}
